.destination input {
    width: 100%;
    margin-bottom: 20px;
}
.destination p {
    margin-bottom: 8px;
}
.destination .search-btn {
    display: inline-block;
    background-color: lightsalmon;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
@media (max-width: 575.98px) { 
    .destination {
        padding: 0 30px;
    }
    .destination .left {
        margin-bottom: 20px;
    } 
}
